body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
    background-color: rgb(237, 205, 210);
    color: darkblue;
    text-align: center;
    padding: 30px;

}

h1 {
    font-size: 250%;
}

.headshot {
    width: 150px;
    padding: 20px
}


nav li1 {
    display: inline;
    margin: 0 10px;
    padding: 30px;
    font-size: 20px;
}

nav li2 {
    display: inline;
    margin: 0 10px;
    padding: 70px;
    font-size: 20px;
}

nav a {
    color: darkblue;
    text-decoration: underline;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
    border-bottom: 3px solid darkblue; 
    padding-bottom: 10px; 
    margin-bottom: 20px; 
    font-size: 200%;
    padding-left: 40px;
}

.work-grid {
    display: grid;
    gap: 20px;
}

.work-item.large {
    grid-column: span 2; 
}


.work-item {
    position: relative;
    text-align: center;
    background-color: lightblue;
    border: none;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.work-item:hover {
    background-color: pink;
    color: darkblue;
}


.work-label {
    margin-top: 10px;
}


.app1-image {
    width: 100%; 
    height: auto; 
    border: none; 
    margin: 0; 
    align-items: center;
}

body {
    background-color: rgb(200, 220, 227); 
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app2, .app3, .app4, .app5 {
    width: 100%; 
    height: auto; 
    border: none; 
    margin: 0; 
    align-items: center;
}

footer {
    padding: 40px;
}

.work-label {
    font-size: 30px;
}

